.user {
    color: white;
    font-size: 20px;
}

.balance {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

#logout-button.log {
    background-color: orange;
    color: black;
    padding: 4px 6px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    width: 80px;
    height: 25px;

}

#logout-button.log:hover {
    background-color: #cc0000;
}

#logout-button.log:active {
    background-color: #990000;
}


