{% extends 'base.html' %}


{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
        <div class="content">
            <h2 > About Internet Shop </h2>
            <p> In this online store you can find such products: </p>


            <ol>
                <li><h2> Household electrical goods: </h2></li>
            </ol>
            <ul>
                <li> Refrigerators, microwaves, washing machines </li>
                <li>Cameras, smartphones, laptops</li>
            </ul>



            <ol>
                <li><h2> Clothing </h2></li>
            </ol>
            <ul>
                <li> Sports and classic jackets, sweaters, T-shirts </li>
                <li> Jeans, dress pants and shorts </li>
                <li> Shoes, sneakers, boots, sandals </li>
            </ul>
            <ol>
                <li><h2> Accessories </h2></li>
            </ol>
            <ul>
                <li>Bags and wallets, belts, ties</li>
                <li>Jewelry, glasses, watches</li>
                <li>Headphones, chargers, cases, keychains</li>
            </ul>

        </div>


{% endblock %}
