{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Online Store{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/click.js' %}"></script>

</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <nav class="navbar">
        <div class="container">
            <h1 class="logo" title="This is your best online store">Online Store</h1>
            <ul class="nav-links">
                <li><h2><a href="{% url 'index' %}" class="home-button">Home Page</a></h2></li>
                <li><a href="{% url 'about' %}"><h2>About Shop</h2></a></li>
                <li><a href="{% url 'contact' %}"><h2>Contacts</h2></a></li>
                <li><a href="{% url 'add_product' %}"><h2>Add Product</h2></a></li>
                <li><a href="{% url 'register' %}"><h2>Register</h2></a></li>
                <li><a href="{% url 'login' %}"><h2> Login </h2></a> </li>

            </ul>

            <div class="cart-icon">
                <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart" style="color: green;"></i></a>
                <span class="cart-count">{{ cart_count }}</span>
            </div>
        </div>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Online Store. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>
