{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <h3><p>Description: {{ product.description }}</p></h3>
                <h3><p>Price: ${{ product.price }}</p></h3>
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <form action="{% url 'add_to_cart' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button class='add' type="submit">Add to cart</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

